body {
  margin: 0;
  padding: 0;
  height: 1000px;
}

#body-wrapper {
  min-height: 100%;
  position: relative;
}

#body-content {
  margin-top: 100px;
  padding-bottom: 99999px; /* footer의 높이 */
}

header {
  width: 100%;
  height: 20%;
  background-color: aquamarine;
}

#nav {
  margin: 0;
  padding: 0;
  width: 90%;
  height: 50px;
  align-content: center;
  background-color: #eeff59;
}

#section {
  float: left;
  width: 75%;
  height: 10000px;
}

aside {
  float: left;
  margin-left: 30px;
  width: 20%;
}

#aside {
  margin: 23px;
  padding-bottom: 20px;
  border: 10px ridge skyblue;
  text-align: center;
}

#moreinfo {
  font-size: 20px;
}

footer pre {
  font-size: 15px;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}

#footer_info {
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  padding: 2px;
}

#else {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  border: 1px solid black;
  width: 0.1px;
  height: 50px;
}

#logo_canvas {
  margin-left: 30px;
  margin-top: 30px;
}

#a {
  position: absolute;
  top: 0;
  right: 0;
}

#day {
  width: 100px;
  background-color: #41be75;
  color: #fff;
  border: none;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

#night {
  width: 100px;
  background-color: #188363;
  border: none;
  color: #fff;
  padding: 12px 0;
  text-align: center;
  text-decoration: solid;
  font-size: 20px;
}

#audio {
  width: 250px;
  height: 30px;
}

.menu {
  text-decoration: dotted;
  font-size: 20px;
  font-weight: 600;
  display: block;
  width: 170px;
  color: black;
}

nav .menu:hover {
  color: white;
  background-color: #b9c23f;
}

#nav ul li {
  float: left;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  background-color: #eeff59;
  list-style-type: none;
  outline: none;
}

.content {
  margin-left: 30px;
  padding-left: 10px;
}

table {
  width: 1000px;
  min-width: 400px;
  margin-left: 10px;
  border-top: 2px solid;
  border-collapse: collapse;
}

#table_top {
  background-color: rgb(170, 255, 255);
}

th,
td {
  border-left: 2px solid;
  border-bottom: 2px solid;
  padding: 10px;
}

th:first-child,
td:first-child {
  border-left: none;
}

form {
  border: 3px solid blue;
}

iframe {
  width: 90%;
  height: 500px;
}
